<inner-banner [title]="title" [breadcums]="title"></inner-banner>
<div class="container about_us_warpper">
    <div class="row abt-rows">
        <div class="col-md-5">
            <img src="../../assets/img/abt1.jpg" alt="about_us_banner"/>
        </div>
        <div class="col-md-7">
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem.</p>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem.</p>
        </div>        
    </div>
    <div class="row abt-rows">
        <div class="col-md-6">
            <h1>Our Advantages</h1>
            <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse laoreet sem sit amet dolor luctus pellentesque. Pellentesque eleifend tellus at interdum elementum. Nam egestas molestie elit. Vivamus sed accumsan quam, a mollis magna. Nam aliquet eros eget sapien consequat tincidunt at vel nibh. Duis ut turpis mi. Duis nec scelerisque urna, sit amet varius arcu. Aliquam aliquet sapien quis mauris semper suscipit. Maecenas pharetra dapibus posuere. Praesent odio sem.</p>
        </div>
        <div class="col-md-6">
            <h1>Our Skills</h1>
            <p class="content">
                Donec sagittis interdum tellus sed bibendum. Aen ean fringilla ut lacus eu vehicula. Curabitur non nibh quis nisi vestibulum aliquet non sed dolor. Ut est risus, consectetur sit amet pretium in, cursus in dui. Donec ac rhoncus libero.
            </p>
            <ul class="our_skills">
                <li>Praesent vestibulum molestie lacus</li>
                <li>Donec sagittis interdum tellus</li>
                <li>Nulla consectetur adipiscing</li>
                <li>Donec ac rhoncus libero.</li>
                <li>Erci eu tincidunt lacinia</li>
            </ul>
        </div>
    </div>
</div>