<footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-grid">
                    <h3>About Us</h3>
                    <p>Nam libero tempore, cum soluta nobis est eligendi 
                        optio cumque nihil impedit quo minus id quod maxime 
                        placeat facere possimus.</p>
                </div>
                <div class="col-md-3 footer-grid ">
                    <h3>Menu</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="kitchen.html">Kitchen</a></li>
                        <li><a href="hold.html">Household</a></li>						 
                        <li><a href="codes.html">About us</a></li> 
                        <li><a href="contact.html">Contact us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-grid ">
                    <h3>Customer Services</h3>
                    <ul>
                        <li><a href="shipping.html">Shipping</a></li>
                        <li><a href="terms.html">Terms &amp; Conditions</a></li>
                        <li><a href="faqs.html">Faqs</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="offer.html">Online Shopping</a></li>						 
                         
                    </ul>
                </div>
                <div class="col-md-3 footer-grid">
                    <h3>My Account</h3>
                    <ul>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                        
                    </ul>
                </div>
            </div>
                <div class="copy-right text-center">
                    <p> © 2017 My Kitchen. All Rights Reserved | Design by  <a href=""> Mani</a></p>
                </div>
            </div>
            <button (click)="myModal.open()">open my modal</button>
            <modal-wrapper #myModal></modal-wrapper>
</footer>
